button{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
    border: 1px solid #0065c1;
    border-radius: .25rem;
    color: #fff;
    background-color: #0065c1;
    margin: 5px 0px;
}

button:hover {
    color: #fff;
    background-color: #0056a4;
    border-color: #00519a;
  }

/* between button there should be 10px */
button + button {
    margin-left: 10px;
}